@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Source+Sans+Pro&display=swap');

:root {
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #be2edd; 
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

body.show-nav {
    /* show nav bar */
    transform: translateX(400px);
}


/* nav bar */

nav {
    background-color: var(--primary-color);
    border-right: 2px solid rgba(200,200,200,0.1);
    color:#ffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    z-index: 100;
    /* hide nav bar  */
    transform: translateX(-100%);
}

nav .logo {
    padding: 30px 0;
    text-align: center;
}

nav .logo img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

nav ul li {
    border-bottom: 2px solid rgba(200,200,200,0.1);
    padding: 20px;
}
nav ul li:first-child {
    border-top: 2px solid rgba(200,200,200,0.1);
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ffff;
    text-decoration:underline ;
}

/* header */

header {
    background-color: var(--primary-color);
    color: #ffff;
    font-size: 130%;
    position: relative;
    padding: 40px;
    text-align: center;
}

header h1 {
    padding: 0;
}

header p {
    margin: 30px 0;

}

/* button and input */
button, input[type="submit"] {
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    color:#ffff;
    cursor: pointer;
    padding: 8px 12px;
}

button:focus {
    /* outline: none; */
}

.toggle {
    background-color: rgba(0,0,0,.3);
    position:absolute;
    top: 30px;
    left: 30px;
}

.cta-btn {
    padding: 12px 30px;
}

/* container */
.container {
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

/* modal */
.modal-container {
    background-color: rgba(0,0,0,.6);
    display:none;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.modal-container.show-modal {
    display: block;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
} 

.modal{
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    position:absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    width: 400px;
}

.modal-header {
    background-color: var(--primary-color);
    color: #ffff;
    padding: 15px;
}

.modal-header h3 {
    margin: 0;
    border-bottom: 1px solid #333;
}

.modal-content {
    padding: 20px;
}

.modal-form div {
    margin: 15px 0;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
}

.modal-form .form-input {
    padding: 8px;
    width: 100%;
}

/* close btn */

.close-btn {
    background-color: transparent;
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 0;   
}

@keyframes modalopen {
    from {opacity: 0;}
    to {opacity: 1;}
    
}